.sqlite3
vendor/*
*/migrations/*
!*/migrations/__init__.py
*/__pycache__/*
*.pyc
friendship/.Python
friendship/bin/*
friendship/include/*
.idea/*
friendship/lib/*
friendship/pip-selfcheck.json
friendship/share/*
