babel
black
boto3
botocore
braintree
django
django-allauth
django-crontab
django-extensions
django-filter
django-formtools
django-polymorphic
django-reversion
django-storages
djangorestframework
flake8
ipython
markdown
mod_wsgi
omise
Pillow
pre-commit
psycopg2
psycopg2-binary
pydkim
pytz
requests
stripe
virtualenv
