{% extends "friendship/base_generic_content.html" %}
{% load static %}


{% block content %}
<div class="ui-hero hero-lg ui-tilt ui-gradient-blue">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" data-vertical_center="true" data-vertical_offset="16">
            <h1 class="heading animate" data-show="fade-in-up-big" data-delay="100">
              About Us
            </h1>
            <p class="paragraph animate" data-show="fade-in-up-big" data-delay="400">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            </p>
          </div>
          <div class="col-sm-6 animate" data-show="fade-in-left" data-delay="400">
            <img src="assets/img/mockups/applify-mockup-3.png" alt="Applify - App Landing Page HTML Template" data-uhd  data-max_width="577" class="responsive-on-sm" />
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .ui-hero .slider-pro -->

<!-- App Features Section -->
<div id="features2" class="container section pt-0">
  <div class="container ui-icon-blocks ui-blocks-h icons-lg">
  	<!-- Here's the boilerplate for about us page. Please do your magic, Dorothy! -->
      <h2>Our Team</h2>
    </div><!-- .section-heading -->
    <div class="row first-row">
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
    </div><!-- .row -->
    <div class="row second-row">
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.svg' %}">
        <h4 class="text-dark-gray">Your Name</h4>
        <p>
          Your short bio 
        </p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .section -->

{% endblock content %}
