{% extends "friendship/base_generic_content.html" %}
{% load static %}


{% block content %}
<div class="ui-hero hero-lg ui-tilt ui-gradient-blue">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" data-vertical_center="true" data-vertical_offset="16">
            <h1 class="heading animate" data-show="fade-in-up-big" data-delay="100">
              About Us
            </h1>
            <p class="paragraph animate" data-show="fade-in-up-big" data-delay="400">
              
            </p>
          </div>
          <div class="col-sm-6 animate" data-show="fade-in-left" data-delay="400">
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .ui-hero .slider-pro -->

<!-- App Features Section -->
<div id="features2" class="container section pt-0">
  <div class="container ui-icon-blocks ui-blocks-h icons-lg">
  	<!-- Here's the boilerplate for about us page. Please do your magic, Dorothy! -->
      <h1>Meet Our Team</h1>
    </div><!-- .section-heading -->
    <div class="row first-row">
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/army-prof.jpg' %}">
        <h4 class="text-dark-gray">Army Tunjaicon</h4>
        <p>
          CEO, Founder 
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/hansung-prof.jpg' %}">
        <h4 class="text-dark-gray">Han Kang</h4>
        <p>
          CTO, Cofounder
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/doro-prof.jpg' %}">
        <h4 class="text-dark-gray">Dorothy Feng</h4>
        <p>
          UI/UX Design, Cofounder
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/kevin-prof.jpg' %}">
        <h4 class="text-dark-gray">Kevin Kuo</h4>
        <p>
          Android Developer, Cofounder
        </p>
      </div>
    </div><!-- .row -->
    <div class="row second-row">
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/kora-prof.jpg' %}">
        <h4 class="text-dark-gray">Kora Kwok</h4>
        <p>
          iOS Developer
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/lin-prof.jpg' %}">
        <h4 class="text-dark-gray">Yoyo Yeh</h4>
        <p>
          Web Developer
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/lin-prof.jpg' %}">
        <h4 class="text-dark-gray">Lin Lin Kanokkorn</h4>
        <p>
          Marketing
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/team-headshots/joe-prof.jpg' %}">
        <h4 class="text-dark-gray">Joe Tharayil</h4>
        <p>
          Cofounder
        </p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .section -->

{% endblock content %}
