{% extends "friendship/base.html" %}
{% load static %}

{% block banner %}
	<!-- Hero -->
	<div class="ui-hero hero-sm bg-dark-gray hero-svg-layer-4">
		<div class="container">
			<h1 class="heading">
				{% block title %}
				{% endblock title %}
			</h1>
			<p class="paragraph">
				{% block title_desc %}
				{% endblock title_desc %}
			</p>
		</div><!-- .container -->
	</div><!-- .hero -->
{% endblock banner %}

{% block content %}
	<!--  Section -->
	<div class="section contact-section">
		<div class="container">
			<p class="paragraph">
				{% block form_desc %}
				{% endblock form_desc %}
			</p>
			
			{% for message in messages %}
				<p><strong>{{ message }}</strong></p>
			{% endfor %}

			{% block form %}
			{% endblock form %}
		</div><!-- .container -->
	</div><!-- .section -->

	<!-- Google Maps  !!
	1. Add your latitude to the data-lat attribute here
	2. Add your longitude to the data-long attribute here
	3. Add your API Key to the GoogleMaps include script at the bottom of this Page
	-->
	<!-- <div id="gmap" class="ui-map" data-lat="-26.182559" data-lng="28.061691" data-marker="{% static 'friendship/img/map/map_marker.png' %}"
	     data-style="style-1" data-zoom="13"></div> -->

	<!-- Call To Action Section -->
	<div class="section ui-gradient-blue ui-action-section z-index-3">
		<div class="container">
			<div class="row">
				<!-- Text Column -->
				<div class="col-lg-6 col-md-7 text-block" data-vertical_center="true">
					<!-- Section Heading -->
					<div class="section-heading">
						<h2 class="heading">
							Available on iOS and Android
						</h2>
						<p class="paragraph">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						</p>
						<div class="actions">
							<a class="btn ui-gradient-green btn-app-store btn-download shadow-lg"><span>Available on the</span>
								<span>App Store</span></a>
							<a class="btn ui-gradient-blue btn-google-play btn-download shadow-lg"><span>Available on </span>
								<span>Google Play</span></a>
						</div>
					</div><!-- .section-heading -->
				</div>
				<!-- Image Column -->
				<div class="col-lg-6 col-md-5 img-block animate" data-show="fade-in-left">
					<img src="{% static 'friendship/img/mockups/applify-mockup-2-lg.png' %}" alt="Applify - App Landing HTML Template"
					     data-uhd class="responsive-on-sm" data-max_width="547"/>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .section -->

{%endblock content %}
