{% extends "friendship/base_generic_content.html" %}
{% load static %}

{% block title %} Become a Sender {% endblock title %}

{% block main_content %}

<!-- App Features Section -->
<div id="features2" class="section pt-0">
    If you are a traveler, a flight attendant, or a shipping company, and you're interested in becoming a sender for FriendShips, please send an email to <a href="mailto:become-a-sender@friendships.us" target="_top">become-a-sender@friendships.us</a> for an inquiry.
</div><!-- .section -->

{% endblock main_content %}
