{% extends "friendship/base_generic_content.html" %}
{% load static %}

{% block title %} Contact Us {% endblock title %}

{% block main_content %}

<!-- App Features Section -->
<div id="features2" class="section pt-0">
    <p>If you have any questions, please contact <a href="mailto:become-a-sender@friendships.us" target="_top">support@friendships.us</a> or our <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fline.me%2Fti%2Fp%2F%2540agm6239q&h=ATPqwN-7cqxps6Q_qLNqXdBh_lOK89Q-RLc96uplkx55Mtl3yHpZ3vYyZgLwRNrIwu6t6JO9Yx6YL5adXiP1QN_gU7PFPl0IVgvp3OgGoJvYY5v6iOYkY-7CfwaL&s=1">line at friendships</a></p>
    <span class="bold">Friendships-us Inc.</span>
    <br>
   	<p>
   		Phone: +1 (806) 407-7797<br>
   		Email: <a href="mailto:become-a-sender@friendships.us" target="_top">support@friendships.us</a>
   	</p>
    <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fline.me%2Fti%2Fp%2F%2540agm6239q&h=ATPqwN-7cqxps6Q_qLNqXdBh_lOK89Q-RLc96uplkx55Mtl3yHpZ3vYyZgLwRNrIwu6t6JO9Yx6YL5adXiP1QN_gU7PFPl0IVgvp3OgGoJvYY5v6iOYkY-7CfwaL&s=1">Add us on line</a>
</div><!-- .section -->

{% endblock main_content %}
