{% extends "friendship/base_generic_content.html" %}
{% load static %}

{% block title %} How It Works {% endblock title %}

{% block main_content %}

<!-- App Features Section -->
<div id="features2" class="section pt-0">
  <div class="container ui-icon-blocks ui-blocks-h icons-lg">
    <div class="section-heading center">
      <p class="paragraph">
        Shop on any website, and we'll deliver your items at the lowest prices, right to your door
      </p>
      <hr>
    </div><!-- .section-heading -->
    <div class="row">
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step1.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">Step 1</h4>
        <p style="text-align: left">
          Paste a link to your desired item, from any online store. We will handle it from there.
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step2.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">Step 2</h4>
        <p style="text-align: left">
          Wait while shippers compete to deliver your item, then confirm the lowest price we find.
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step3.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">Step 3</h4>
        <p style="text-align: left">
          Shippers compete to deliver your item. Each shipper quotes a price including shipping costs and all associated taxes and fees, and we match you with the lowest one.
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img src="{% static 'friendship/img/graphics/step4.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">Step 4</h4>
        <p style="text-align: left">
          The price you see before deciding to buy is the final quote, including all associated fees. Once we receive the payment, we directly deliver the item to you, right to your doorstep.
        </p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .section -->

{% endblock main_content %}
