{% extends "friendship/base_generic_content.html" %}
{% load static %}

{% block title %} 
{% if request.session.locale == 'th-TH' %}
การใช้งาน/วิธีใช้
{% else %}
How It Works
{% endif %}
{% endblock title %}

{% block main_content %}

<!-- App Features Section -->
<div id="features2" class="section pt-0 how-it-works">
  <div class="container ui-icon-blocks ui-blocks-h icons-lg">
    <div class="section-heading center">
      <p class="paragraph">
        {% if request.session.locale == 'th-TH' %}
        คุณสามารถเลือกช็อปสินค้าจากเว็บใดก็ได้ เราจะส่งสินค้าของคุณด้วยราคาจัดส่งที่ดีที่สุด
        {% else %}
        Shop on any website, and we'll deliver your items at the lowest prices, right to your door
        {% endif %}
      </p>
      <hr>
    </div><!-- .section-heading -->
    <div class="row" id="how-it-works">
      <div class="col-sm-3 ui-icon-block">
        <img style="border-radius: 0%" src="{% static 'friendship/img/graphics/step1.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          ขั้นตอนที่ 1
          {% else %}
          Step 1
          {% endif %}
        </h4>
        <p style="text-align: left; float: left;">
          {% if request.session.locale == 'th-TH' %}
          <span class="bold">วาง</span>ลิ้งค์สินค้าที่คุณต้องการ
          {% else %}
          <span class="bold">Paste</span> a link to your desired item, from any online store. That’s all you need to do. We handle the rest.
          {% endif %}
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img style="border-radius: 0%" src="{% static 'friendship/img/graphics/step2.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          ขั้นตอนที่ 2
          {% else %}
          Step 2
          {% endif %}
        </h4>
        <p style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          รอผู้ส่งในระแบบแข่งขันกันประมูลราคาส่งและ<span class="bold">ยืนยัน</span>ราคารวมเมื่อคุณพอใจ
          {% else %}
          <span class="bold">Wait</span> while shippers compete to deliver your item, then <span class="bold">confirm</span> the lowest price we find. Our shippers are carefully screened to ensure reliable and rapid delivery, and we demand perfection, every time. Each shipper quotes a price including shipping costs and all associated taxes and fees, and we match you with the lowest one.
          {% endif %}
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img style="border-radius: 0%" src="{% static 'friendship/img/graphics/step3.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          ขั้นตอนที่ 3
          {% else %}
          Step 3
          {% endif %}
        </h4>
        <p style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          <span class="bold">ชำจะเงิน</span>ผ่านบัตรหรือโอนเงินเข้าบัญชี
          {% else %}
          Once the time runs out or you’re happy with the price, <span class="bold">pay</span> for your item through credit card or bank transfer. The price you see before deciding to buy is the final quote, including the cost of the item, lowest shipping cost, and all taxes and fees.
          {% endif %}
        </p>
      </div>
      <div class="col-sm-3 ui-icon-block">
        <img style="border-radius: 0%" src="{% static 'friendship/img/graphics/step4.jpg' %}">
        <h4 class="text-dark-gray" style="text-align: left">
          {% if request.session.locale == 'th-TH' %}
          ขั้นตอนที่ 4
          {% else %}
          Step 4
          {% endif %}
        </h4>
        <p style="float: left; text-align:left">
          {% if request.session.locale == 'th-TH' %}
          <span class="bold">รอรับของ</span>ได้ภายใน 5 - 17 วัน (เฉลี่ย 8 วัน)!
          {% else %}
          Your item is <span class="bold">delivered</span> directly to you in 5-17 business days (average 8 days). We offer door-to-door delivery on all items, with no extra charge.
          {% endif %}
        </p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .section -->

{% endblock main_content %}
