{% extends "friendship/base.html" %}
{% load static %}
{% block content %}
<!-- Hero -->

<div class="ui-hero hero-lg hero-center hero-bg hero-svg-layer-4 bg-dark-gray">
	<div class="container pb-4">
		<div class="row pt-2 pb-4">
			<div class="col-sm-12" data-vertical_center="true" data-vertical_offset="16">
				<h1 class="heading animate" data-show="fade-in-up-big" data-delay="100">
					<span class="text-blue">The world is tied together by</span> FriendShips
				</h1>
				<p class="paragraph sp-layer" data-show-transition="up" data-show-delay="400" data-show-duration="500" data-layer-init="true" style="visibility: visible; left: 0px; top: 0px; transform-origin: left top 0px; transform: scale(1) translate3d(0px, 0px, 0px); opacity: 1;">
					It's simple to get started
				</p>
				<div class="col-sm-12">
					<form action="{% url 'friendship:place_order' %}">
						<div class="input-group">
							<!-- Email Input -->
							<input autocomplete="email" name="url" class="input form-control" placeholder="Desired item's URL">
							<div class="input-group-append">
								<!-- Submit Button -->
								<button class="btn btn-sm ui-gradient-found">Start here
								</button>
							</div>
						</div>
					</form>
				</div>
				<!-- * Replace data-video with your youtube video id -->
				<!--<a href="#" class="ui-video-toggle mt-4" data-video="1C75bKax4Eg">-->
					<!--<span class="icon fa fa-play bg-red"></span> <span>How Applify Works</span>-->
				<!--</a>-->
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .ui-hero -->

<!-- Intro Image -->
<!--<div class="section intro-image pt-0">
	<img src="{% static 'friendship/img/mockups/applify-browser-mockup.png' %}" data-uhd data-max_width="1000"
	     class="shadow-xxl responsive-on-lg" alt="Applify - App Landing HTML Template"/>
</div> -->
<!-- .intro-image -->

<!-- App Features Section -->
<div id="features" class="section pt-0">
	<div class="container ui-icon-blocks ui-blocks-h icons-lg">
		<div class="section-heading cente">
			<h2 class="heading text-dark-gray">
				How it Works
			</h2>
			<p class="paragraph">
					We take out the hassle and extra fees from the international shipping process so you can focus on what’s important
			</p>
		</div><!-- .section-heading -->
		<div class="row">
			<div class="col-sm-4 ui-icon-block">
				<div class="icon icon-lg icon-circle icon-rocket text-red"></div>
				<p>
					Shop at any US website and order any item by pasting a link
				</p>
			</div>
			<div class="col-sm-4 ui-icon-block">
				<div class="icon icon-lg icon-circle icon-ghost text-red"></div>
				<p>
					We match you with the best shipping price from a pool of secure senders
				</p>
			</div>
			<div class="col-sm-4 ui-icon-block">
				<div class="icon icon-lg icon-circle icon-trophy text-red"></div>
				<p>
					Receive your item in about 7-12 days!
				</p>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<!-- Integration Section -->
<div id="integrate" class="section ui-gradient-blue">
	<div class="container">
		<div class="row">

			<!-- Left Column -->
			<div class="col-lg-5 col-xl-6" data-vertical_center="true">

				<!-- Section Heading -->
				<div class="section-heading mb-2">
					<h2 class="heading">
						Why FriendShips?
					</h2>
				</div><!-- .section-heading -->

				<!-- Left blocks -->
				<ul class="ui-icon-blocks ui-blocks-v icons-sm">
					<li class="ui-icon-block">
						<span class="icon icon-diamond"></span>
						<p class="">
							Tell us what you want to buy
from any online retailer.
						</p>
					</li>
					<li class="ui-icon-block">
						<span class="icon icon-pie-chart"></span>
						<p class="">
							Tell us what you want to buy
from any online retailer.
						</p>
					</li>
					<li class="ui-icon-block">
						<span class="icon icon-layers"></span>
						<p class="">
							Tell us what you want to buy
from any online retailer.
						</p>
					</li>
				</ul>
			</div>

			<!-- Right Column -->
			<div class="col-lg-7 col-xl-6">

				<!-- Logo Cloud -->
				<div class="ui-logos-cloud">
					<div data-size="4" class="mt-0 animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="10" class="mt-0 animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="7" class="mt-0 animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>

					<!-- Flex Break -->
					<span class="flex-break"></span>

					<div data-size="4" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="10" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="4" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="6" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="3" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>

					<!-- Flex Break -->
					<span class="flex-break"></span>

					<div data-size="8" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="3" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="10" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="5" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>

					<!-- Flex Break -->
					<span class="flex-break"></span>

					<div data-size="3" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="10" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
					<div data-size="7" class="animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>

					<!-- Flex Break -->
					<span class="flex-break"></span>

					<div data-size="4" class="mb-0 animate" data-show="fade-in">
						<img src="{% static 'friendship/img/3rd-party-logos/logo.png' %}" data-uhd alt="Applif App Landing Page"/>
					</div>
				</div><!-- .ui-logo-cloud  -->

			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->
{% endblock content %}
