{% extends "friendship/base_forms.html" %}
{% load static %}


{% block title %} 

{% if request.session.locale == 'th_TH' %}
เข้าสู่ระบบ (ผู้ซื้อ)
{% else %}
Receiver Login
{% endif %}
{% endblock title %}
{% block title_desc %} 

{% if request.session.locale == 'th_TH' %}
{% else %}
Authenticate yourself
{% endif %}
{% endblock title_desc %}

{% block form %}
<div class="container" id="login-container">
	<a href="{% url 'friendsite_social_auth:facebook_login' %}" class="btn btn-block ui-gradient-blue shadow-md" id="Facebook-login">
		{% if request.session.locale == 'th_TH' %}
		เข้าสู่ระบบผ่าน Facebook
		{% else %}
		Log in with Facebook
		{% endif %}
	</a><br>
	<a href="{% url 'friendsite_social_auth:line_login' %}" class="btn btn-block ui-gradient-green shadow-md" id="Line-login">
		{% if request.session.locale == 'th_TH' %}
		เข้าสู่ระบบผ่าน Line
		{% else %}
		Log in with LINE
		{% endif %}
	</a>
	<hr>
	<h1 style="text-align: center">
		{% if request.session.locale == 'th_TH' %}
		เข้าสู่ระบบ (ผู้ส่ง)
		{% else %}
		Sender Login
		{% endif %}
	</h1>
	<form action="{% url 'friendship:login_process' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="form_email">
				{% if request.session.locale == 'th_TH' %}
				อีเมลล์
				{% else %}
				Email
				{% endif %}
			</label>
			<input type="email" name="email" class="input form-control" id="form_email">
		</div>
		<div class="form-group">
			<label for="form_password">
				{% if request.session.locale == 'th_TH' %}
				รหัสผ่าน
				{% else %}
				Password
				{% endif %}
			</label>
			<input type="password" name="password" class="input form-control" id="form_password">
		</div>
		{% if request.session.locale == 'th_TH' %}
		การเข้าสู่ระบบนี้ แสดงถึงว่าคุณได้ตกลงและยอมรับนโยบายความเป็นส่วนตัวแล้ว
		<input type="submit" class="btn btn-block ui-gradient-red shadow-md" value="เข้าสู่ระบบ" />
		{% else %}
		<span style="font-size:.8rem; font-weight:100; display:table; margin:.3rem auto;">By logging in, you agree to the <a target="_blank" href="{% url 'friendship:privacy_policy' %}">FriendShips privacy policy</a></span>
		<input type="submit" class="btn btn-block ui-gradient-red shadow-md" value="Login" />
		{% endif %}
	</form>

	<!-- {# <br />
	<p>
		{% if request.session.locale == 'th_TH' %}
		ยังไม่มีบัญชีผู้ใช้?
		{% else %}
		Don't have an account?
		{% endif %}
		<a href="{% url 'friendship:register' %}">
			{% if request.session.locale == 'th_TH' %}
			สมัครที่นี่!
			{% else %}
			Register here!
			{% endif %}
		</a>
	</p> #} -->
</div>
{% endblock form %}
