{% extends "friendship/base_forms.html" %}
{% load static %}

{% block title %} Bid {% endblock title %}
{% block title_desc %} It's easy as ship {% endblock title_desc %}

{% block form %}
<form action="{% url 'friendship:make_bid' order.id %}" method="post" name="order_form" enctype="multipart/form-data">
	{% csrf_token %}
	{% if order.item_image %}
	<div class="item-image" style="max-width: 450px;">
		<a target="_blank" href="{{ order.url }}"><img src="{{ order.item_image.url }}"></a>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-4">
			{% if order.item_image %}
			<a href="{{ order.url }}"><img src="{{ order.item_image }}" style="height: 300px"></a>
			{% else %}
			Order #{{ order.id }} URL: <a href="{{ order.url }}">{{ order.url }}</a>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{{ form.retail_price.errors }}
			{{ form.retail_price.label }}
			{{ form.retail_price }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{{ form.wages.errors }}
			{{ form.wages.label }}
			{{ form.wages }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{{ form.currency.errors }}
			{{ form.currency.label }}
			{{ form.currency }}
		</div>
	</div>
	{% if not order.item_image and request.user.shipper_info.shipper_type == 3 %}
	<div class="row">
		<div class="col-sm-4">
			{{ form.item_image_url.errors }}
			{{ form.item_image_url.label }}
			{{ form.item_image_url }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{{ form.item_image.errors }}
			{{ form.item_image.label }}
			{{ form.item_image }}
		</div>
	</div>
	{% endif %}
	{% if request.user.shipper_info.shipper_type == 3 %}
	<div class="row">
		<div class="col-sm-4">
			{{ form.bid_trickle.errors }}
			{{ form.bid_trickle.label }}
			{{ form.bid_trickle }}
		</div>
	</div>
	{% endif %}
	<br />
	<input type="submit" class="btn btn-block ui-gradient-green shadow-md" value="BID" />
</form>
{% endblock form %}
