{% extends "friendship/base_forms.html" %}
{% load static %}

{% block title %} Bid {% endblock title %}
{% block title_desc %} It's easy as ship {% endblock title_desc %}

{% block form %}
	<form action="{% url 'friendship:make_bid' order.id %}" method="post" name="order_form">
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-4">
				{{ form.retail_price.label }}
				{{ form.retail_price }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				{{ form.wages.label }}
				{{ form.wages }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				{{ form.currency.label }}
				{{ form.currency }}
			</div>
		</div>
		<br />
		<input type="submit" class="btn btn-block ui-gradient-green shadow-md" value="BID" />
	</form>
{% endblock form %}
