{% extends "friendship/base_generic_content.html" %}

{% load static %}
{% load friendship_extras %}

{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
{% endblock head %}

{% block breadcrumb %}
<ul class="breadcrumb container">
  <li><a href="{% url 'friendship:user_open_orders' %}">
    {% if request.session.locale == 'th_TH' %}
    การสั่งซื้อของคุณ
    {% else %}
    Your Orders
    {% endif %}
</a></li>
<li>
    {% if request.session.locale == 'th_TH' %}
    สินค้าเลขที่ {{ order.id }}
    {% else %}
    Order # {{ order.id }}
    {% endif %}
</li>
</ul>
{% endblock breadcrumb %}

{% block title %}
<div class="order-number-heading">
    {% if request.session.locale == 'th_TH' %}
    สินค้าเลขที่ {{ order.id }}
    {% else %}
    Order # {{ order.id }}
    {% endif %}
</div>
{% endblock title %}

{% block main_content %}
<hr />
<div id="overlay"></div>
<div class="container" id="order-headings">
    <div class="row">
        <div class="col-xl-3">
            <h3>
                {% if request.session.locale == 'th_TH' %}
                รายละเอียดสินค้า
                {% else %}
                Order Details
                {% endif %}
            </h3>
            {% if order.item_image %}
            <div class="item-image">
                <a target="_blank" href="{{ order.url }}"><img src="{{ order.item_image.url }}"></a>
            </div>
            {% endif %}
            <span class="bold"><h6>
                {% if request.session.locale == 'th_TH' %}
                ลิ้งค์ URL
                {% else %}
                URL:
                {% endif %}
            </h6></span> <p><a target="_blank" href="{{ order.url }}">{{ order_url }}</a></p>
            <p><span class="black"><h6>
                {% if request.session.locale == 'th_TH' %}
                จำนวน
                {% else %}
                Quantity:
                {% endif %}
            </h6></span> {{ order.quantity }}</p>
            {% if order.color %}
            <p><span class="black"><h6>
                {% if request.session.locale == 'th_TH' %}
                สี
                {% else %}
                Color:
                {% endif %}
            </h6></span> {{ order.color }}</p>
            {% endif %}
            {% if order.description %}
            <p><span class="black"><h6>
                {% if request.session.locale == 'th_TH' %}
                รายละเอียดเพิ่มเติม
                {% else %}
                Description:
                {% endif %}
            </h6></span> {{ order.description }}</p>
            {% endif %}
            <p>
                <span class="black">
                    <h6>
                        {% if request.session.locale == 'th_TH' %}
                        ที่อยู่จัดส่ง
                        {% else %}
                        Shipping Address:
                        {% endif %}
                    </h6>
                </span>
            </p>
            <p>{{ order.receiver_address.name }}</p>
            <p>{{ order.receiver_address.address_line_1 }}</p>
            {% if order.receiver_address.address_line_2 %}
            <p>{{ order.receiver_address.address_line_2 }}</p>
            {% endif %}
            <p>{{ order.receiver_address.city }} {{ order.receiver_address.region }} {{ order.receiver_address.postal_code }}</p>
            <p>{{ order.receiver_address.country }}</p>
            {% if request.user.shipper_info.shipper_type == 3 %}
            <p>{{ order.receiver_address.phone }}</p>
            <p>{{ order.receiver.email }}</p>
            {% endif %}
            <br>
            <br>
        </div>
        <div class="col-xl-8">
            <h3>
                {% if request.session.locale == 'th_TH' %}
                สถานะสินค้า
                {% else %}
                Payment
                {% endif %}
            </h3>
            {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
            {% endfor %}

            <!--24 hr timer between buy now and payment-->
            <div class="{% if latest_action.action < MATCH_FOUND or latest_action.action >= BANKNOTE_UPLOADED %} hidden{% endif %}" id="payment-timer-div">
                {% if request.session.locale == 'th_TH' %}
                <div id="payment-timer"></div>
                {% else %}
                <div id="payment-timer"></div>
                {% endif %}
            </div>

            <div style="display: none;" datetime="{{ order.bid_end_datetime.isoformat }}" id="order-bid-end-time"></div>

            <div class="ui-steps" id="order-details">
                <!-- PAYMENT LOGIC -->
                <div class="step-wrapper">
                    <div class="row">
                        <div class="col-auto">
                            <h4>
                                {% if request.session.locale == 'th_TH' %}
                                ยืนยันการทำรายการ
                                {% else %}
                                Review and Submit Payment
                                {% endif %}
                            </h4>
                            <div class="col-auto">
                                <table id="bid-info-table">
                                    <tr class="bid-info-row">
                                        <td class="bid-info-content">
                                            {% if request.session.locale == 'th_TH' %}
                                            ยอดชำระเงินสุทธิ
                                            {% else %}
                                            Total:
                                            {% endif %}
                                        </td>
                                        <td class="bid-info-content font-weight-bold">{% get_bid_total_str min_bid thb %}</td>
                                    </tr>
                                    {% if credit and credit == 'on' %}
                                    <tr class="bid-info-row">
                                        <td class="bid-info-header">
                                            {% if request.session.locale == 'th_TH' %}
                                            Credit Applied:
                                            {% else %}
                                            Credit Applied:
                                            {% endif %}
                                        </td>
                                        <td class="bid-info-content font-weight-bold">
                                            {{ credit_applied }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if payment_method == 'wire-transfer' %}
                                    <tr class="bid-info-row">
                                        <td class="bid-info-header">
                                            {% if request.session.locale == 'th_TH' %}
                                            ส่วนลด 2.5%
                                            {% else %}
                                            Manual Bank Transfer Discount (2.5%):
                                            {% endif %}
                                        </td>
                                        <td class="bid-info-cont ent font-weight-bold">
                                            {{ discount_str }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if credit and credit == 'on' or payment_method == 'wire-transfer' %}
                                    <tr class="bid-info-row total">
                                        <td class="bid-info-header">
                                            {% if request.session.locale == 'th_TH' %}
                                            Total to Pay Now:
                                            {% else %}
                                            Total to Pay Now:
                                            {% endif %}
                                        </td>
                                        <td class="bid-info-content font-weight-bold">
                                            {{ new_total_str }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <hr id="hr2">
                            <br>
                            {% if new_total == 0 %}
                            <form action="{% url 'friendship:pay_using_inappcredit' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="order_id" value="{{ order_id }}" style="display: none;">
                                {% if request.session.locale == 'th_TH' %}
                                <input type="submit" class="btn btn-block ui-gradient-green" value="ดำเนินการต่อ" style="margin:10px 0px;">
                                {% else %}
                                <input type="submit" class="btn btn-block ui-gradient-green" value="Submit Payment" style="margin:10px 0px;">
                            {% endif %}
                            </form>
                            {% elif payment_method == 'bank-transfer-online' %}
                            <div id="online-wire-transfer">
                                {% if request.session.locale == 'th_TH' %}
                                Coming soon
                                {% else %}
                                Coming soon
                                {% endif %}
                            </div>
                            {% elif payment_method == 'credit-card' %}
                            <!-- IF CHOSEN CREDIT CARD, THIS MUST BE DISPLAYED -->
                            <!-- when omise approves, change this to above -->
                            <div id="credit-card-payment">
                                <div id="paypal-button"></div>
                            </div>
                            {% elif payment_method == 'wire-transfer' %}
                            <!-- END OF WHAT SHOULD BE DISPLAYED -->
                            <!-- IF CHOSEN Wire Transfer (Manual) This must be displayed -->
                            <div id="wire-payment">
                                {% if request.session.locale == 'th_TH' %}
                                กรุณาโอนเงินเข้าบัญชีที่แสดงด้านล่างนี้ พร้อมแนบหลักฐานการชำระเงิน เพื่อยืนยันการทำรายการ
                                {% else %}
                                Please send the the payment to this account, then upload the receipt here. Once the receipt is verified, the order will be approved.
                                {% endif %}
                                <div class="col-auto">
                                    <table class="bid-info-table">
                                        <tr class="bid-info-row">
                                            <td>
                                                {% if request.session.locale == 'th_TH' %}
                                                ธนาคาร
                                                {% else %}
                                                Bank:
                                                {% endif %}
                                            </td>
                                            <td><h5>
                                                {% if request.session.locale == 'th_TH' %}
                                                K bank
                                                {% else %}
                                                K bank
                                                {% endif %}
                                            </h5></td>
                                        </tr>
                                        <tr class="bid-info-row">
                                            <td>
                                                {% if request.session.locale == 'th_TH' %}
                                                ชื่อบัญชี
                                                {% else %}
                                                Name:
                                                {% endif %}
                                            </td>
                                            <td><h5>
                                                {% if request.session.locale == 'th_TH' %}
                                                Patcharin Desit
                                                {% else %}
                                                Patcharin Desit
                                                {% endif %}
                                            </h5></td>
                                        </tr>
                                        <tr class="bid-info-row">
                                            <td>
                                                {% if request.session.locale == 'th_TH' %}
                                                เลขที่บัญชี
                                                {% else %}
                                                Account Number:
                                                {% endif %}
                                            </td>
                                            <td><h5>0388832908</h5></td>
                                        </tr>
                                    </table>
                                </div>
                                <form action="{% url 'friendship:submit_wire_transfer' order.id %}" method="post" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ manual_wire_transfer_form.banknote_image.errors }}
                                        {{ manual_wire_transfer_form.banknote_image }}
                                    </div>
                                    {% if request.session.locale == 'th_TH' %}
                                    <input type="submit" class="btn btn-block ui-gradient-green" value="ดำเนินการต่อ" style="margin:10px 0px;">
                                    {% else %}
                                    <input type="submit" class="btn btn-block ui-gradient-green" value="Submit Payment" style="margin:10px 0px;">
                                    {% endif %}
                                </form>
                            </div>
                            {% endif %}
                            <!-- END OF WHAT SHOULD BE DISPLAYED -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form style="display: none" action="{% url 'friendship:process_braintree_payment' %}" method="post" id="braintree-form">
    {% csrf_token %}
    <input style="display: none" name="order_id" value="{{ order.id }}" />
    <input style="display: none" name="braintree_nonce" id="braintree-nonce" value="" />
    <input style="display: none" type="submit" id="braintreeSubmit" />
    {% if credit and credit == 'on' %}
    <input style="display: none;" name="credit" value="True">
    {% else %}
    <input style="display: none;" name="credit" value="False">
    {% endif %}
</form>
<script src="{% static 'friendship/js/libs/custom/order-details.js' %}"></script>

<script>
    paypal.Button.render({

    env: '{{ payment_env }}', // Or 'sandbox'

    client: {
        sandbox:    'AQ55vA8iM7cvNz656zlBmNCCv5QBu41Ps0H7itZ8lVSiFmBPX2ebaVrW9MUIgDz97jV92_j_cEFQm1qn',
        production: 'AaALdiffOahjW9uimEeqXR7b9O4wIBSk0dj9m08EGzu7pZ5Ok6-GZ0oPW7TFTUHmEtr2xjtxyuTosmI5'
    },

    commit: true, // Show a 'Pay Now' button

    payment: function(data, actions) {
        return actions.payment.create({
            payment: {
                transactions: [
                {
                    amount: { total: '{{ new_total }}', currency: '{{ thb_str }}' }
                }
                ]
            }
        });
    },

    onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function() {
            document.getElementById('braintree-nonce').value = '{{ new_total }}';
            document.getElementById('braintree-form').submit();
        });
    }
}, '#paypal-button');
</script>
{% endblock main_content %}
