{% extends "friendship/base_generic_content.html" %}

{% load static %}

{% block title %} Order # {{ order.id }} {% endblock title %}

{% block main_content %}
<h1> Order # {{ order.id }}</h1>
<p>URL: <a href="{{ order.url }}">{{ order.url }}</a></p>
<p>Quantity: {{ order.quantity }}</p>
<p>Description: {{ order.description }}</p>
<p>Shipping Address: {{ order.reciever_address.address }}</p>
<p>Order Status: {{ order.status }}</p>

<p>Order Actions:
{% for action in actions %}
	<p style="display: none;" id="{{ action.action }}" data-date="{{ action.date_placed }}"></p>
{% endfor %}
</p>

<div class="container" id="actions">
	{% for action in actions %}
		<p style="display: none;" id="{{ action.action }}" data-date="{{ action.date_placed }}"></p>
	{% endfor %}
</div>


<div class="ui-steps">
    <div class="step-wrapper">
        <span class="step-number ui-gradient-blue"> </span>
        <div class="row">
            <div class="col-md-6">
                <p>Item Ordered</p>
            </div>
        </div>
    </div>
    <div class="step-wrapper">
        {% if latest_action.action == ORDER_PLACED %}
            <span class="step-number ui-gradient-green"> </span>
        {% elif latest_action.action > ORDER_PLACED %}
            <span class="step-number ui-gradient-blue"> </span>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <p>Finding Match</p>
            </div>
        </div>
    </div>
    <div class="step-wrapper">
        {% if latest_action.action < MATCH_FOUND %}
            <span class="step-number ui-gradient-purple"> </span>
        {% elif latest_action.action == MATCH_FOUND %}
            <span class="step-number ui-gradient-green"> </span>
        {% elif latest_action.action >= MATCH_FOUND %}
            <span class="step-number ui-gradient-blue"> </span>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <p>Confirm Price and Pay</p>
            </div>
        </div>
    </div>
    <div class="step-wrapper">
        {% if latest_action.action < PRICE_ACCEPTED %}
            <span class="step-number ui-gradient-purple"> </span>
        {% elif latest_action.action == PRICE_ACCEPTED %}
            <span class="step-number ui-gradient-green"> </span>
        {% elif latest_action.action > PAYMENT_RECEIVED %}
            <span class="step-number ui-gradient-blue"> </span>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <p>Item Ordered</p>
            </div>
        </div>
    </div>
</div>

<p> {{ ORDER_PLACED }} </p>
{% if latest_action.action == ORDER_PLACED %}
<p> Order Placed </p>
{% elif latest_action.action == MATCH_FOUND %}
<p> Match Found </p>
{% else %}
<p> Neither </p>
{% endif %}

<script>
	var info = actions;
</script>

<script src="{% static 'friendship/js/libs/custom/order-details.js' %}"></script>

{% endblock main_content %}
