{% extends "friendship/base_generic_content.html" %}

{% load static %}

{% block title %} Order # {{ order.id }} {% endblock title %}

{% block main_content %}
<div class="container" id="order-headings">
    <div class="row">
        <div class="col-left">
            <p><span class="bold">URL:</span> <a href="{{ order.url }}">{{ order_url }}</a></p>
            <p><span class="bold">Quantity:</span> {{ order.quantity }}</p>
            <p><span class="bold">Description:</span> {{ order.description }}</p>
        </div>
        <div class="col-right">
            <p><span class="bold">Shipping Address:</span></p>
            <p>{{ order.receiver_address.name }}</p>
            <p>{{ order.receiver_address.address_line_1 }}</p>
            <p>{{ order.receiver_address.city }}, {{ order.receiver_address.region }}, {{ order.receiver_address.postal_code }}</p>
            <p>{{ order.receiver_address.country }}</p>
        </div>
    </div>
</div>

<hr />
<div style="display: none;" datetime="{{ order.bid_end_datetime.isoformat }}" id="order-bid-end-time"></div>

<div class="ui-steps" id="order-details">
    <!-- Item Ordered is always blue -->
    <div class="step-wrapper">
        <span class="step-number ui-gradient-blue">&#x2713</span>
        <div class="row">
            <div class="col-auto">
                <h4>Item Ordered on {{ order.date_placed }}</h4>
            </div>
        </div>
    </div>

    <!-- FINDING MATCH LOGIC -->
    <div class="step-wrapper">
        <div class="row">
            {% if latest_action.action == ORDER_PLACED %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Finding Match</h4>
                <p>Time Left:</p>
                <p id="time_countdown">[TIME LEFT]</p>
                <p>Current Total:</p>
                <p>{{ min_bid.get_total }}</p>
            </div>
            <div class="col-auto">
                <span>Accept price and buy now</span>
            </div>


            <div class="col-auto">
                {# <a href="{% url 'friendship:buy_now' order.id %}"></a> #}
            </div>
            {% elif latest_action.action >= MATCH_FOUND %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Found Match</h4>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- PAYMENT LOGIC -->
    <div class="step-wrapper">
        <div class="row" >
            {% if latest_action.action < MATCH_FOUND %}
            <span class="step-number ui-gradient-grey"> </span>
            <div class="col-auto">
                <h4>Confirm Price and Pay</h4>
            </div>
            {% elif latest_action.action >= PAYMENT_RECEIVED and latest_action.action != ORDER_DECLINED %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Payment Received</h4>
            </div>
            {% elif latest_action.action == MATCH_FOUND %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Confirm Price and Pay</h4>
                <a class="btn btn-block ui-gradient-green shadow-md col-4" href="{% url 'friendship:confirm_order_price' order.id True %}" id="confirm-button" style="margin-top:0.5rem;">Confirm</a>
                <a class="btn btn-block ui-gradient-peach shadow-md col-4" href="{% url 'friendship:confirm_order_price' order.id False %}" id="decline-button">Decline</a>
            </div>
            {% elif latest_action.action == ORDER_DECLINED %}
            <span class="step-number ui-gradient-peach"> </span>
            <div class="col-auto">
                <h4>Order Declined</h4>
            </div>
            {% elif latest_action.action == PRICE_ACCEPTED %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <!-- 2 radio buttons, credit card and wire transfer (Manual) -->
                <h4> Methods of Payment:</h4>
                <form id="payment-form">
                    <input type="radio" name="payment-method" value="credit-card" id="credit-card-radio"> Credit Card<br><br>
                    <input type="radio" name="payment-method" value="wire-transfer" id="wire-radio"> Wire Transfer<br>
                </form>
                   <!-- IF CHOSEN CREDIT CARD, THIS MUST BE DISPLAYED -->

                <div id="credit-card-payment" style="display: none">
                <form action="{% url 'friendship:process_payment' order.id %}" method="post" id="checkout">
                    {% csrf_token %}
                    <script src="https://cdn.omise.co/omise.js"></script>
                    <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
                    <script>
                    Omise.setPublicKey("pkey_test_5bhaufrx5qsyotldxvl");

                    $("#checkout").submit(function () {
                        var form = $(this);
                            // Disable the submit button to avoid repeated click.
                            form.find("input[type=submit]").prop("disabled", true);

                            // Serialize the form fields into a valid card object.
                            var card = {
                                "name": form.find("[data-omise=holder_name]").val(),
                                "number": form.find("[data-omise=number]").val(),
                                "expiration_month": form.find("[data-omise=expiration_month]").val(),
                                "expiration_year": form.find("[data-omise=expiration_year]").val(),
                                "security_code": form.find("[data-omise=security_code]").val()
                            };

                            // Send a request to create a token then trigger the callback function once
                            // a response is received from Omise.
                            //
                            // Note that the response could be an error and this needs to be handled within
                            // the callback.
                            Omise.createToken("card", card, function (statusCode, response) {
                                if (response.object == "error" || !response.card.security_code_check) {
                                    // Display an error message.
                                    var message_text = "SET YOUR SECURITY CODE CHECK FAILED MESSAGE";
                                    if(response.object == "error") {
                                        message_text = response.message;
                                    }
                                    $("#token_errors").html(message_text);

                                    // Re-enable the submit button.
                                    form.find("input[type=submit]").prop("disabled", false);
                                } else {
                                    // Then fill the omise_token.
                                    form.find("[name=omise_token]").val(response.id);

                                    // Remove card number from form before submiting to server.
                                    form.find("[data-omise=number]").val("");
                                    form.find("[data-omise=security_code]").val("");

                                    // submit token to server.
                                    form.get(0).submit();
                                };
                            });

                            // Prevent the form from being submitted;
                            return false;
                        });
                    </script>
                    <div id="token_errors"></div>

                    <input type="hidden" name="omise_token">

                    <div>
                        Name<br>
                        <input type="text" data-omise="holder_name">
                    </div>
                    <div>
                        Number<br>
                        <input type="text" data-omise="number">
                    </div>
                    <div>
                        Date<br>
                        <input type="text" data-omise="expiration_month" size="4"> /
                        <input type="text" data-omise="expiration_year" size="8">
                    </div>
                    <div>
                        Security Code<br>
                        <input type="text" data-omise="security_code" size="8">
                    </div>

                    <input type="submit" id="create_token">
                </form>
            </div>
            <!-- END OF WHAT SHOULD BE DISPLAYED -->

            <!-- IF CHOSEN Wire Transfer (Manual) This must be displayed -->
            <div id="wire-payment" style="display: none">
                <form action="{% url 'friendship:submit_wire_transfer' order.id %}" method="post" enctype=multipart/form-data>
                    {% csrf_token %}
                    {{ manual_wire_transfer_form.as_p }}
                    <input type="submit">
                </form>
            </div>
            <!-- END OF WHAT SHOULD BE DISPLAYED -->
            {% endif %}
        </div>
    </div>

    <!-- ITEM ORDERED FROM MERCHANT LOGIC -->
    <div class="step-wrapper">
        <div class="row">
            {% if latest_action.action < PAYMENT_RECEIVED or latest_action.action == ORDER_DECLINED %}
            <span class="step-number ui-gradient-grey"> </span>
            <div class="col-auto">
                <h4>Item Ordered By FriendShips</h4>
            </div>
            {% elif latest_action.action == PAYMENT_RECEIVED %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Item Ordered By FriendShips</h4>
            </div>
            {% elif latest_action.action >= ITEM_ORDERED_BY_FRIENDSHIPS %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Item Ordered By FriendShips</h4>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- SENDER RECEIVED ITEM LOGIC -->
    <div class="step-wrapper">
        <div class="row">
            {% if latest_action.action < ITEM_ORDERED_BY_FRIENDSHIPS or latest_action.action == ORDER_DECLINED %}
            <span class="step-number ui-gradient-grey"> </span>
            <div class="col-auto">
                <h4>Sender Received Item</h4>
            </div>
            {% elif latest_action.action == ITEM_ORDERED_BY_FRIENDSHIPS or latest_action.action == ITEM_SHIPPED_BY_MERCHANT %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Sender Received Item</h4>
            </div>
            {% elif latest_action.action >= ITEM_RECEIVED_BY_SHIPPER %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Sender Received Item</h4>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- ITEM ARRIVED IN THAILAND LOGIC -->
    <div class="step-wrapper">
        <div class="row">
            {% if latest_action.action < ITEM_RECEIVED_BY_SHIPPER or latest_action.action == ORDER_DECLINED %}
            <span class="step-number ui-gradient-grey"> </span>
            <div class="col-auto">
                <h4>Arrived in Thailand</h4>
            </div>
            {% elif latest_action.action >= ITEM_ARRIVED_IN_THAILAND %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Arrived in Thailand</h4>
            </div>
            {% elif latest_action.action == ITEM_RECEIVED_BY_SHIPPER or latest_action.action == ITEM_IN_TRANSIT_BY_SHIPPER %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Arrived in Thailand</h4>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- ITEM DELIVERED LOGIC -->
    <div class="step-wrapper">
        <div class="row">
            {% if latest_action.action < ITEM_ARRIVED_IN_THAILAND or latest_action.action == ORDER_DECLINED %}
            <span class="step-number ui-gradient-grey"> </span>
            <div class="col-auto">
                <h4>Item Delivered</h4>
            </div>
            {% elif latest_action.action >= ORDER_FULFILLED %}
            <span class="step-number ui-gradient-blue">&#x2713</span>
            <div class="col-auto">
                <h4>Item Delivered</h4>
            </div>
            {% else %}
            <span class="step-number ui-gradient-green"> </span>
            <div class="col-auto">
                <h4>Item Delivered</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main_content %}
