{% extends "friendship/base_generic_content.html" %}
{% load static %}


{% block title %} Order Confirmation {% endblock title %}

{% block main_content %}
<h1> Order has been placed!</h1>
<p>We will notify you as soon as you receive a match :D</p>
<p>In the meantime, you can review the details of your order(s)
	{% for index, order in orders.items %}
		<a href="{% url 'friendship:order_details' order.id %}">{{ order.id }}</a>
	{% endfor %}
</p>
<a href="{% url 'friendship:receiver_landing' %}"><button class="btn ui-gradient-blue">Place another Order</button></a>
{% endblock main_content %}
