<style>
    i {
        padding: 5px;
    }
    h3 {
        display: inline;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .toggler {
        margin-left: auto;
    }
    #empty_form {
        display:none;
    }
</style>

{% extends "friendship/base_forms.html" %}
{% load static %}


{% block title %} Place Order {% endblock title %}
{% block title_desc %} It's easy as ship {% endblock title_desc %}





{% block form %}

    <form method="post" name="order_form">
        {{ formset.management_form }}
        {% csrf_token %}
        <div id="all_forms">

            <div class="container" id="info-0">
                <div class="row">
                    <h3 id="header-0">Item</h3>
                    <i class="toggler fa fa-window-maximize" id="toggle-0"></i>
                    <i class="remover fa fa-times-circle" id="remove-0"></i>
                </div>
            </div>

            <div id="form-0">
                {% for form in formset %}
                    {{ form.as_p }}
                {% endfor %}
            </div>



        </div>

        <br/>
        <input type="button" class="btn btn-block ui-gradient-peach shadow-md" value="Add More" id="add_more"/>
        <input type="submit" class="btn btn-block ui-gradient-green shadow-md" value="Request Order" />
    </form>

<div id="empty_form">
    {{ formset.empty_form.as_p }}
</div>

<script src="{% static 'friendship/js/libs/custom/place-order.js' %}"></script>

{% endblock form %}
