

{% extends "friendship/base_forms.html" %}
{% load static %}



{% block title %} Place Order {% endblock title %}
{% block title_desc %} It's easy as ship {% endblock title_desc %}





{% block form %}
    <link rel="stylesheet" type="text/css" href="{% static 'friendship/css/custom/place-order.css' %}" />

    <form method="post" name="order_form">
        {{ formset.management_form }}
        {% csrf_token %}
        <div id="all_forms">

        </div>
        <input type="button" class="btn btn-block ui-gradient-peach shadow-md" value="Add More" id="add_more"/>
        <input type="submit" class="btn btn-block ui-gradient-green shadow-md" value="Request Order" />
    </form>

<!--This below is the template for all forms-->

<div id="empty_form">
    {{ formset.empty_form.as_p }}
</div>







<script src="{% static 'friendship/js/libs/custom/place-order.js' %}"></script>

{% endblock form %}
