{% extends "friendship/base_generic_content.html" %}
{% load static %}
{% load friendship_extras %}

{% block title %} Your Bids {% endblock title %}
<!-- This page displays all the orders for the receiver. -->

{% block main_content %}
<!-- Matched Order Section -->
<h1>Matched Orders</h1>
<hr>
<div id="matched-order-header">
	<div class="row">
		<div class="col-sm-13">Order #</div>
		<div class="col-sm-13">Item Status</div>
		<div class="col-sm-13">Your Bid</div>
	</div>
</div>
{% for item in orders %}
	<div id="matched-order-table">
		{% if item.order.latest_action.action >= MATCH_FOUND %}
		<div class="row">
			<!-- ORDER ID -->
			<div class="col-sm-13"><span><a href="{% url 'friendship:user_open_bids' %}">{{ item.order.id }}</a></span></div>
			<!-- ITEM STATUS -->
			{% if item.order.latest_action.action < PAYMENT_RECEIVED %}
				<span class="btn btn-sm ui-gradient-positive">Awaiting Payment</span>
			{% elif item.order.latest_action.action < ITEM_ORDERED_BY_FRIENDSHIPS %}
				<span class="btn btn-sm ui-gradient-peach">Payment Received</span>
			{% elif item.order.latest_action.action < ITEM_SHIPPED_BY_MERCHANT %}
				<span class="btn btn-sm ui-gradient-blue">Item Ordered By Friendships</span>
			{% elif item.order.latest_action.action < ITEM_RECEIVED_BY_SHIPPER  %}
				<span class="btn btn-sm ui-gradient-pink">Item Shipped by Merchant</span>
			{% elif item.order.latest_action.action < ITEM_IN_TRANSIT_BY_SHIPPER  %}
				<span class="btn btn-sm ui-gradient-purple">Item Received by Shipper</span>
			{% elif item.order.latest_action.action < ITEM_ARRIVED_IN_THAILAND  %}
				<span class="btn btn-sm ui-gradient-yellow">Item In Transit by Shipper</span>
			{% elif item.order.latest_action.action < ITEM_SHIPPED_DOMESTICALLY_BY_SHIPPER %}
				<span class="btn btn-sm ui-gradient-orange">Item Arrived in Thailand</span>
			{% elif item.order.latest_action.action < ORDER_FULFILLED %}
				<span class="btn btn-sm ui-gradient-lime">Item Shipped Domestically by Shipper</span>
			{% elif item.order.latest_action.action < ORDER_DECLINED %}
				<span class="btn btn-sm ui-gradient-green">Order Fulfilled</span>
			{% endif %}
			<!-- YOUR BID -->
			<div class="col-sm-13">{{ item.wages.get_value|add:item.retail_price.get_value }}</div>
		</div>
		{%endif%}
	</div>
{% endfor %}

<!-- Active Bids Section -->
<h1>Active Bids</h1>
<hr>
<div id="bids-header">
	<div class="row">
		<div class="col-sm-13">Order #</div>
		<div class="col-sm-13">Time Left</div>
		<div class="col-sm-13">Lowest Bid</div>
		<div class="col-sm-13">Your Bid</div>
	</div>
</div>

<div class="container" id="bids-table">
	{% for item in orders %}
	<div style="display: none;" datetime="{{ item.order.bid_end_datetime.isoformat }}" class="order-bid-end-time" title="{{item.order.id}}"></div>
	<div class="row">
		<!-- ORDER ID -->
		<div class="col-sm-13"><span><a href="{% url 'friendship:user_open_bids' %}">{{ item.order.id }}</a></span></div>
		<!-- TIME LEFT -->
		<div class="col-sm-13" id="{{ item.order.id }}"></div>
		<!-- LOWEST BID -->
		<div class="col-sm-13">{% get_lowest_bid_str item.order 50 %}</div>
		<!-- YOUR BID -->
		<div class="col-sm-13">{% get_bid_total_str item 50 %}</div>
	</div>
	{% endfor %}
</div>
<script src="{% static 'friendship/js/libs/custom/user-bids.js' %}"></script>
{% endblock main_content %}
