{% extends "friendship/base_generic_content.html" %}
{% load static %}
{% load friendship_extras %}

{% block title %} Your Bids {% endblock title %}
<!-- This page displays all the orders for the receiver. -->

{% block main_content %}
<!-- Matched Order Section -->
<h1>Matched Orders</h1>
<hr>
<div id="matched-order-header">
	<div class="row">
		<div class="col-sm-13">Order #</div>
		<div class="col-sm-13">Item Status</div>
		<div class="col-sm-13">Your Bid</div>
		<div class="col-sm-13">Make Action</div>
	</div>
</div>
{% for bid in matched_orders %}
<div id="matched-order-table">
	{% if bid.order.latest_action.action >= MATCH_FOUND %}
	<div class="row">
		<!-- ORDER ID -->
		<div class="col-sm-13"><span><a href="{% url 'friendship:order_details' bid.order.id %}">{{ bid.order.id }}</a></span></div>

		<!-- ITEM STATUS -->
		<div class="col-sm-13">
			{% if bid.order.latest_action.action < BANKNOTE_UPLOADED %}
			<span class="btn btn-sm ui-gradient-peach">Awaiting Payment</span>
			{% elif bid.order.latest_action.action < PAYMENT_RECEIVED %}
			<span class="btn btn-sm ui-gradient-red">Confirm Banknote</span>
			{% elif bid.order.latest_action.action < ITEM_ORDERED_BY_FRIENDSHIPS %}
			<span class="btn btn-sm ui-gradient-green">Payment Received</span>
			{% elif bid.order.latest_action.action < ITEM_SHIPPED_BY_MERCHANT %}
			<span class="btn btn-sm ui-gradient-blue">Item Ordered By Friendships</span>
			{% elif bid.order.latest_action.action < ITEM_RECEIVED_BY_SHIPPER  %}
			<span class="btn btn-sm ui-gradient-pink">Item Shipped by Merchant</span>
			{% elif bid.order.latest_action.action < ITEM_IN_TRANSIT_BY_SHIPPER  %}
			<span class="btn btn-sm ui-gradient-purple">Item Received by Shipper</span>
			{% elif bid.order.latest_action.action < ITEM_ARRIVED_IN_THAILAND  %}
			<span class="btn btn-sm ui-gradient-yellow">Item In Transit by Shipper</span>
			{% elif bid.order.latest_action.action < ITEM_SHIPPED_DOMESTICALLY_BY_SHIPPER %}
			<span class="btn btn-sm ui-gradient-orange">Item Arrived in Thailand</span>
			{% elif bid.order.latest_action.action < ORDER_FULFILLED %}
			<span class="btn btn-sm ui-gradient-lime">Item Shipped Domestically by Shipper</span>
			{% elif bid.order.latest_action.action < ORDER_DECLINED %}
			<span class="btn btn-sm ui-gradient-green">Order Fulfilled</span>
			{% endif %}
		</div>

		<!-- YOUR BID -->
		<div class="col-sm-13">{% get_bid_total_str bid 50 %}</div>

		<!-- Make action -->
		<div class="col-sm-13">
			{% if bid.order.latest_action.action < BANKNOTE_UPLOADED %}
			--
			{% elif bid.order.latest_action.action < PAYMENT_RECEIVED %}
			<a href="{% url 'friendship:confirm_banknote' bid.order.id %}">Confirm Banknote</a>
			{% elif bid.order.latest_action.action < ITEM_ORDERED_BY_FRIENDSHIPS %}
			<a href="{% url 'friendship:confirm_item_purchased_receipt' bid.order.id %}">Upload Item Receipt</a>
			{% elif bid.order.latest_action.action < ITEM_SHIPPED_BY_MERCHANT %}
			<a href="{% url 'friendship:confirm_item_shipped_by_merchant' bid.order.id %}">Upload US Tracking Number</a>
			{% elif bid.order.latest_action.action < ITEM_RECEIVED_BY_SHIPPER  %}
			<a href="{% url 'friendship:confirm_item_received' bid.order.id %}">Click here when you received the item</a>
			{% elif bid.order.latest_action.action < ITEM_IN_TRANSIT_BY_SHIPPER  %}
			<a href="{% url 'friendship:confirm_item_arrived_in_thailand' bid.order.id %}">Click here when the item arrives in Thailand</a>
			{% elif bid.order.latest_action.action < ITEM_ARRIVED_IN_THAILAND  %}
			<span class="btn btn-sm ui-gradient-yellow">Item In Transit by Shipper</span>
			{% elif bid.order.latest_action.action < ITEM_SHIPPED_DOMESTICALLY_BY_SHIPPER %}
			<a href="{% url 'friendship:confirm_item_shipped_in_thailand' bid.order.id %}">Upload Thai Tracking Number</a>
			{% elif bid.order.latest_action.action < ORDER_FULFILLED %}
			<span class="btn btn-sm ui-gradient-lime">Item Shipped Domestically by Shipper</span>
			{% elif bid.order.latest_action.action < ORDER_DECLINED %}
			<span class="btn btn-sm ui-gradient-green">Order Fulfilled</span>
			{% endif %}

		</div>
	</div>
	{%endif%}
</div>
{% endfor %}

<!-- Active Bids Section -->
<h1>Active Bids</h1>
<hr>
<div id="bids-header">
	<div class="row">
		<div class="col-sm-13">Order #</div>
		<div class="col-sm-13">Time Left</div>
		<div class="col-sm-13">Lowest Bid</div>
		<div class="col-sm-13">Your Bid</div>
	</div>
</div>

<div class="container" id="bids-table">
	{% for bid in active_orders %}
	<div style="display: none;" datetime="{{ bid.order.bid_end_datetime.isoformat }}" class="order-bid-end-time" title="{{bid.order.id}}"></div>
	<div class="row">
		<!-- ORDER ID -->
		<div class="col-sm-13"><span><a href="{% url 'friendship:user_open_bids' %}">{{ bid.order.id }}</a></span></div>
		<!-- TIME LEFT -->
		<div class="col-sm-13" id="{{ bid.order.id }}"></div>
		<!-- LOWEST BID -->
		<div class="col-sm-13">{% get_lowest_bid_str bid.order 50 %}</div>
		<!-- YOUR BID -->
		<div class="col-sm-13">{% get_bid_total_str bid 50 %}</div>
	</div>
	{% endfor %}
</div>
<script src="{% static 'friendship/js/libs/custom/user-bids.js' %}"></script>
{% endblock main_content %}
