/*
FROM NOW ON SCREEN SIZE DIVISIONS IN PX
1681
1200
992
768
576
320
*/

form p {
  all: initial;
  * {
    all: unset;
  }
}

@font-face {
  font-family: "Thai";
  src: url(/static/friendship/webfonts/thai-fonts/SukhumvitSet-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "ThaiBold";
  src: url(/static/friendship/webfonts/thai-fonts/SukhumvitSet-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ThaiLight";
  src: url(/static/friendship/webfonts/thai-fonts/SukhumvitSet-Light.ttf) format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

div.scrollable {
  overflow-x: scroll;
  box-sizing: border-box;
}

#faq {
  text-align: left;
}

.btn-group .btn {
  padding: .6rem 0rem;
}

body {
  font-family: Thai !important;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: Thai !important;
}

body .navbar, .btn, .ui-footer, a {
  font-family: Thai !important;
}

@media (max-width: 1200px){
  .info-heading {
    padding-bottom: 8rem;
  }
}

@media (max-width: 768px){
  .ui-footer .col-md-2 {
    text-align: center;
  }
}

@media (min-width: 576px){
  #form-container {
    max-width: 95%
  }
}

@media (min-width: 768px){
  #form-container {
    max-width: 80%
  }
}

@media (min-width: 992px){
  #form-container {
    max-width: 65%
  }
}

@media (min-width: 1200px){
  #form-container {
    max-width: 50%
  }
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

nav > .container {
  max-width: 100%;
}

.img-responsive {
  max-height: 240px;
  margin-top: 5rem;
  margin-bottom: 1.7rem;
}

.navbar .ui-navigation.navbar-center {
  justify-content: right;
}

.navbar .navbar-brand img{
  height:30px;
  margin-top:-15px;
  left:10px;
}

@media (max-width: 400px){
  .navbar .navbar-brand img{
    height:30px;
    margin-top:-15px;
    left:10px;
  }
}

.ui-hero.hero-bg::before {
  background-size: cover;
}

.footer-copyright .container {
  max-width: 100%;
}

h2 {
  padding-top: 2rem;
}

.text-black {
  color:#414c5a;
}

#registration-form{
  max-width:100%;
}

div.orders div.row, div#orders-row, div#orders-header {
  min-width: 638px;
}

@media (max-width: 360px) {
  .navbar img {
    margin-left: -12px;
    max-width: 140px;
  }
}

@media (min-width: 320px) {
  div.main-content {
    min-width: calc(320px - 4rem);
  }
}

@media (min-width: 576px) {
  div.main-content {
    min-width: calc(576px - 4rem);
  }
}

@media (min-width: 576px){
  #registration-form{
    max-width:90%;
  }
}

@media (min-width: 768px){
  #registration-form{
    max-width:70%;
  }
}

@media (min-width: 992px){
  #registration-form{
    max-width:50%;
  }
}

.navbar.navbar-dark .nav > li > a:hover {
  color: #d9d9d9;
}

/**
* 29. About Us
* ----------------------------------------------------------------------- *
*/

#features2 .first-row{
  margin-top: 3rem;
}
#features2 .ui-icon-block {
  text-align:center;
}

#features2 {
  margin-top: 5rem;
}

#features2 .ui-icon-block img {
  max-width: 195px; /*dorothy settings */
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

@media (min-width: 320px) {
  #features2 .ui-icon-block img {
    max-width: 195px; /*dorothy settings */
  }
}

@media (min-width: 576px) {
  #features2 .ui-icon-block img {
    max-width: 140px; /*dorothy settings */
  }
}

@media (min-width: 768px) {
  #features2 .ui-icon-block img {
    max-width: 170px; /*dorothy settings */
  }
}

@media (min-width: 1200px) {
  #features2 .ui-icon-block img {
    max-width: 195px; /*dorothy settings */
  }
}


/**
MESSAGES
------------------------------------*
*/
.ui-gradient-message-selected,
.ui-gradient-message-selected:hover {
  background: -moz-linear-gradient(45deg, #8582FE 0%, #8582FE 100%);
  background: linear-gradient(45deg, #8582FE 0%, #8582FE 100%);
  color: #FFF;
}

.ui-gradient-messages {
  background: -moz-linear-gradient(45deg, #F6F7F8 0%, #F6F7F8 100%);
  background: linear-gradient(45deg, #F6F7F8 0%, #F6F7F8 100%);
  color: #485869;
}

.ui-gradient-messages:hover {
  background: -moz-linear-gradient(45deg, #d7d8ea 0%, #d7d8ea 100%);
  background: linear-gradient(45deg, #d7d8ea 0%, #d7d8ea 100%);
  color: #485869;
}

.ui-gradient-green,
.ui-gradient-green:hover {
  background: -moz-linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  background: linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  color: #FFF;
}

.ui-gradient-found,
.ui-gradient-blue,
.ui-gradient-found:hover {
  background: -moz-linear-gradient(45deg, #74B4FE 0%, #74B4FE 100%);
  background: linear-gradient(45deg, #74B4FE 0%, #74B4FE 100%);
  color: #FFF;
}

.ui-gradient-purp {
  background: -moz-linear-gradient(45deg, #7C7CFB 0%, #7C7CFB 100%);
  background: linear-gradient(45deg, #7C7CFB 0%, #7C7CFB 100%);
  color: #FFF;
}

.ui-gradient-purp:hover {
  background: -moz-linear-gradient(45deg, #6f6fe1 0%, #6f6fe1 100%);
  background: linear-gradient(45deg, #6f6fe1 0%, #6f6fe1 100%);
  color: #FFF;
}

.btn.ui-gradient-green:hover{
  background: -moz-linear-gradient(45deg, #7ebd6c 0%, #7ebd6c 100%);
  background: linear-gradient(45deg, #7ebd6c 0%, #7ebd6c 100%);
  color: #FFF;
}

.btn.ui-gradient-blue:hover {
  background: -moz-linear-gradient(45deg, #68a2e4 0%, #68a2e4 100%);
  background: linear-gradient(45deg, #68a2e4 0%, #68a2e4 100%);
  color: #FFF;
}

.btn.ui-gradient-red:hover{
  background: -moz-linear-gradient(45deg, #d76c7a 0%, #d76c7a 100%);
  background: linear-gradient(45deg, #d76c7a 0%, #d76c7a 100%);
  color: #FFF;
}

.btn.ui-gradient-peach{
  background: -moz-linear-gradient(45deg, #feb66e 0%, #feb66e 100%);
  background: linear-gradient(45deg, #feb66e 0%, #feb66e 100%);
  color: #FFF;
}
.btn.ui-gradient-peach:hover{
  background: -moz-linear-gradient(45deg, #e4a363 0%, #e4a363 100%);
  background: linear-gradient(45deg, #e4a363 0%, #e4a363 100%);
  color: #FFF;
}
div#right-pane{
  height: 400px;
}

/**
* 1. Home Page
* ----------------------------------------------------------------------- *
*/
.homepage-container #paste-url {
  padding:11px 1rem 11px 1.5rem;
}


#homepage-start {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin: -10rem auto;
  text-align: center;
}

#homepage-start .input-group-append .btn {
  display:block;
}

#homepage-start p{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

@media (min-width: 576px){
  #homepage-start{
    width:67%;
    padding:2rem 2rem;
  }
}

@media (min-width: 768px) {
  #homepage-start {
    background-color: white;
    padding: 2rem 2rem;
    /*margin: 2rem 8rem;*/
    min-width:600px;
  }
}

@media (min-width: 1200px) {
  #homepage-start {
    background-color: white;
    padding: 3rem 4rem;
    text-align: center;
    max-width: 100%;
    /*margin: 4rem 12rem; */
  }
}

@media (min-width: 1200px) {
  .homepage-container {
    max-width: 90%;
    min-width: 1000px;
  }
}

.ui-hero {
  /*height: 55vh;*/
  /*background-color: #111111;*/
}

.pb-4 {
  /*height: 55vh;
  /*padding: 10% 0 !important;*/
  box-sizing: border-box !important;
}

.ui-hero .btn {
  margin-top: 0px;
}

.ui-hero.hero-lg {
}

.ui-hero p {
  margin-bottom: 3% !important;
  position: relative !important;
}

.ui-hero h3 {
  margin-bottom: 8% !important;
  position: relative !important;
}

.ui-hero.ui-curve.hero-center {
  padding: 7rem 0 7rem 0;
}

.ui-icon-block img {
  max-width: 153px; /*dorothy settings */
  height: 152px;
  margin-bottom:20px;
}

#truck-graphic {
  width:100%;
  max-width: 600px;
  padding: 3rem 3rem;
}

/* for slideshow to make img proportional */
.fill {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

@media (min-width: 1681px){
  #trending-item-section .col-10 {
    max-width: 100%;
    width: 1280px;
  }
}

@media (min-width: 1200px) {
  /*.ui-hero.hero-lg {
    /*padding: 0 !important;*/
    /*width: 100%;
    height: 100%;
    }*/
    .ui-hero.ui-curve.hero-center {
      padding: 9rem 0 7rem 0;
    }
  }

  #features {
    margin-top:15rem;
  }
/**
* 2. Login
* ----------------------------------------------------------------------- *
*/
#Facebook-login {
  margin-bottom:20px;
}
#Line-login {
  margin-bottom:20px;
}

#login-container {
  max-width: 100%
}

@media (min-width: 1200px){
  #login-container {
    max-width: 50%;
  }
}

/* 3. HOW IT WORKS */
#how-it-works p {
  max-width: 100%
}

#how-it-works img {
  width: 100% !important;
  height: auto;
}

@media (min-width: 320px) {
  #features2 .ui-icon-block img {
    max-width: 240px !important; /*dorothy settings */
  }
}

@media (min-width: 576px) {
  #features2 .ui-icon-block img {
    max-width: 320px !important; /*dorothy settings */
  }
}

@media (min-width: 768px) {
  #features2 .ui-icon-block img {
    max-width: 320px !important; /*dorothy settings */
  }
}

@media (min-width: 1200px) {
  #features2 .ui-icon-block img {
    max-width: 85% !important; /*dorothy settings */
  }
}


/**
* place order
* ------------------------------------------------------
*/

input.num-hours {
  display: none;
}

.btn-group {
  width: 100%;
  margin-top: .5rem;
}

.btn-group label {
  margin: .2rem 0;
}

.btn-group .btn {
  margin-bottom: 0;
  margin: 0 0 0 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-container h4 {
  margin-bottom: 1rem;
}

span.bold {
  font-weight: bold;
}

.upload-btn-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper button {
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

input[type=file] {
  display:block;
  margin-top: .4rem;
}

#edit-address-form {
  margin
}

.col-left {
  width: 50%;
}

.col-right {
  width: 50%;
  text-align: right;
}

@media (min-width: 576px) and (max-width: 992px){
  .form-group .row{
    margin-bottom: -1rem;
  }
}

@media (min-width: 576px){
  .col-sm-6.left {
    padding-right: .5rem;
  }

  .col-sm-6.right {
    padding-left: .5rem;
  }
}

input[type=submit] {
  margin-top: 1.5rem;
}

/*
USER BIDS LIST
*/
#bids-table .row, #matched-bid-table .row, #bids-table .row {
  background-color: rgb(246,247,248);
  border-radius:0.5rem;
  padding: 5px 0px;
  margin-bottom: 20px;
}

#bids-table a{
  margin-bottom: -.4rem;
  margin-top: -.4rem;
}

#bids-table a img {
  height: 60px;
  width: 60px;
  border-radius: 0.5rem;
  object-fit: cover;
}

/**
* 3. Order List
* ----------------------------------------------------------------------- *
*/
#orders-header, #matched-order-header, #bids-header {
  margin-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  #orders-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 576px) {
  #orders-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

div.orders {
  margin-bottom: 15px;
}

#orders-table .row, #matched-order-table .row, #bids-table .row{
  background-color: rgb(246,247,248);
  border-radius:0.5rem;
  padding:20px 0px;
  margin-bottom: 20px;
}

#orders-table a{
  margin-bottom: -2.4rem;
  margin-top: -2.4rem;
}

#orders-table a img {
  height: 60px;
  width: 60px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.ui-gradient-negative,
.ui-gradient-red,
.ui-gradient-negative:hover{
  background: -moz-linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  background: linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  color: #FFF;
}

.ui-gradient-positive,
.ui-gradient-positive:hover {
  background: -moz-linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  background: linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  color: #FFF;
}

.ui-gradient-inprogress,
.ui-gradient-inprogress:hover {
  background: -moz-linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  background: linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  color: #FFF;
}
/**
* 3. Order Details
* ----------------------------------------------------------------------- *
*/
/* order details step view. */
#payment-timer {
  padding-bottom: 1.4rem;
  margin-right: 0.2rem;
  font-size: .9rem;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.breadcrumb {
  padding-top:8rem;
}
.breadcrumb li {
  display:inline;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: gray;
  content: "/\00a0";
}

.order-number-heading {
  margin-top:-10rem;
  text-align:left;
}

#order-headings .item-image {
  height: 245px;
  width: 245px;
}

.item-image img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
  vertical-align: middle;
}

#bid-info-table {
  width: 100%;
  margin-top: 1rem;
}

#bid-info-table h5 {
  margin-bottom: 0;
}

.bid-info-table h5 {
  margin-bottom: 0;
}

.bid-info-table td {
  padding-right: 1.2rem;
}

.bid-info-table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bid-info-content {
  vertical-align: top;
  font-size: 1rem;
  padding-bottom:0.5rem;
  padding-top:0.5rem;
}

#order-headings {
  margin-top:3rem;
}

#order-headings p{
  margin-bottom:0.3rem;
  width:100%;
  overflow:hidden;
}

#order-headings h6{
  margin-top:1rem;
}

#order-headings h1{
  margin-bottom:1rem;
}
#order-headings h3{
  margin-bottom:1rem;
  padding-bottom:1rem;
}

#edit-address-form h4{
  margin-bottom: .8rem;
}

@media (max-width: 768px){
  #order-headings .col-xl-8{
    padding-left: 1rem;
    padding-right: 0rem;
  }
}


#hr2{
  margin:0px;
  height:0px;
}

.step-wrapper h4 {
  margin-bottom: 0;
}

span#time_countdown {
  margin-top: .7rem;
  display: inline-block;
}

#order-details div.row {
  display: block;
  width: 70%;
  padding: 2rem 0.2rem;
  margin-left: -1rem;
  font-size: 1rem;
  line-height: 1.4;
  color: #708198;
  background-color: #F2F4F6;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* FONTS FOR ORDER DETAILS PAGE */
@media (max-width: 576px){
  #order-headings h3 {
    margin-bottom: .5rem;
    margin-top: 2rem;
  }
  #order-details h4, {
    font-size: 1rem;
  }
  #order-details h5 {
    font-size: .8rem;
  }
  #order-details h6 {
    font-size: .9rem;
  }
  #order-headings h6 {
    font-size: .9rem
  }

  #order-headings {
    font-size: .8rem;
  }

  #order-headings p {
    margin-bottom: 0;
  }

  #order-details div.row {
    display: block;
    width: 70%;
    padding: 2rem 0.2rem;
    margin-left: -2rem;
    font-size: .8rem;
    line-height: 1.2;
    color: #708198;
    background-color: #F2F4F6;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media(max-width: 768px) {
  #order-details {
    margin-left: -1.45rem;
    margin-right: -1.8rem;
  }
}

#payment-form .input {
  margin-top: .5rem;
}

#credit-card-payment .form-control {
  background-color: white;
  margin-bottom:10px;
}

#credit-card-payment {
  width:80%;
}

#wire-payment .form-control {
  background-color: white;
}

#credit-card-payment .date {
  width: 49%;
  display: inline-block;
}

#credit-card-payment div.form-group,
#wire-payment div.form-group {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

#wire-payment button {
  margin-top: .3rem;
  background-color: #F2F4F6;
  border-style: solid;
  border-width: .1rem;
  border-color: #88B5E1;
}

#wire-payment button:hover {
  background-color: #111111;
}

.hidden {
  display: none;
}

#payment-timer {
  color: red;
}

/* for my order view */
.col-sm-13 {
  flex: 0 0 21%;
  max-width: 21%;
  margin-left:-1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-sm-2 {
  margin-left:-1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-sm-14 {
  flex: auto
  max-width: 50%;
  margin-left:-1rem;
  position: relative;
  text-align: center;
}

.step-number.ui-gradient-grey,
.step-number.ui-gradient-grey::before {
  background: -moz-linear-gradient(45deg, #e0e0e0 0%, #f0f0f0 100%);
  background: linear-gradient(45deg, #e0e0e0 0%, #f0f0f0 100%);
}

#bid-info-shipping {
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

/**
* 29. Steps
* ----------------------------------------------------------------------- *
*/

.ui-steps .step-wrapper span {
  display:block;
}

.ui-steps .col-auto h4 {
  font-weight: lighter;
  font-size:1.3rem;
}

@media (max-width: 576px){
  .ui-steps .col-auto h4 {
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
  }

  #order-details div.row {
    padding: 1rem;
  }

  #order-details div.col-auto {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 0rem;
  }
}

.step-number .fas {
  font-size: 18px;
}

.ui-steps h5{
  font-weight:lighter;
}

#confirm-button {
  display:inline-block;
  margin-top:1rem;
}

#decline-button {
  display:inline-block;
  color:#EF7888;
  margin-top:1rem;
}
#decline-button:hover {
  display:inline-block;
  color:#bf606c;
  margin-top:1rem;
}
@media (max-width: 576px){
  #confirm-button.btn {
    padding: .7rem .7rem;
  }

  #confirm-button {
    display: inline-block;
    margin-top: 1rem;
    min-width: 80px;
  }

  #decline-button {
    display: inline-block;
    color: #EF7888;
    margin-top: 1rem;
  }
}
.ui-steps .row {
  margin-left: -6rem;
  margin-right: -6rem;
}

.ui-steps div[class^="col-"],
.ui-steps div[class*=" col-"] {
  padding-left: 2rem;
  padding-right: 6rem;
}

.ui-steps div[class^="col-"]:nth-child(1),
.ui-steps div[class*=" col-"]:nth-child(1) {
  margin-bottom: 2rem;
}

#order-details div.row {
  width: 100%;
}

@media(min-width: 320px){
  #order-details div.row {
    width: 100%;
  }
}
@media(min-width: 576px){
  #order-details div.row {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ui-steps div[class^="col-"]:nth-child(1),
  .ui-steps div[class*=" col-"]:nth-child(1) {
    margin-bottom: 0;
  }
  .step-number .fas {
    font-size: 20px;
  }
  #order-details div.row {
    width: 93%;
  }
}

@media (min-width: 768px) {
  .ui-steps {
    margin-top: 4rem;
  }

  #order-details div.row {
    margin-left: 4rem;
  }
}

.ui-steps .step-wrapper {
  position: relative;
  padding-left: 6rem;
  text-align: left;
  padding-top: 0;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .ui-steps .step-wrapper {
    padding-left: 0;
    padding-top: 0rem;
  }
  .ui-steps .step-wrapper:nth-child(1) {
    margin-top: -2rem;
  }
}

.ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
  content: ' ';
  position: absolute;
  left: 26px;
  margin-left: 0;
  width: 4px;
  border-radius: 4px;
  background-color: #c9d0d8;
}

/* Control where the line is horizontally */
.ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
  left: 18px;
  margin-left:0px;
}

@media (max-width: 768px) {
  .ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
    left: 26.5px;
    margin-left:0px;
    margin-top:-30px;
    margin-bottom: -30px;
  }
}


.ui-steps .step-wrapper::before {
  top: -1rem;
  bottom: calc(50% + (0px + 1rem));
  /*display: none;*/
}

@media (min-width: 768px) {
  .ui-steps .step-wrapper::before {
    display: block;
  }
}

.ui-steps .step-wrapper::after {
  top: calc(50px + 1rem);
  bottom: 1rem;
}

@media (min-width: 768px) {
  .ui-steps .step-wrapper::after {
    top: calc(50% + (0px));
    bottom: -1rem;
  }
}

.ui-steps .step-wrapper:nth-child(1)::before {
  display: none;
}

.ui-steps .step-wrapper:nth-last-child(1)::after {
  display: none;
}

.ui-steps .step-wrapper .step-number {
  position: absolute;
  top: 10px;
  left: 1rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.ui-steps .step-wrapper .step-number::before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  opacity: 0.25;
  z-index: -1;
}

@media (max-width: 576px) {
  .ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
    left: 22px;
    margin-left:0px;
    margin-top:-40px;
    margin-bottom: -40px;
  }

  .ui-steps .step-wrapper .step-number {
    position: absolute;
    top: 12px;
    left: 1rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    z-index: 2;
  }

  .ui-steps .step-wrapper .step-number::before {
    content: ' ';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    opacity: 0.25;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .ui-steps .step-wrapper .step-number {
    top: calc(50% - 25px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
  }
  .ui-steps .step-wrapper .step-number::before {
    width: 60px;
    height: 60px;
    top: -10px;
    left: -10px;
  }
}

.ui-steps .step-wrapper .step-number,
.ui-steps .step-wrapper .step-number::before {
  border-radius: 100%;
}

@media(min-width: 768px){
  .ui-steps .step-wrapper .step-number {
    left: 0%;
  }
}

.ui-steps .row {
  padding-left: 6%;
}

/**
* 5. Your Bids
* ----------------------------------------------------------------------- *
*/
#matched-order-header, #bids-header {
  margin-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#matched-order-table .row, #bids-table .row, #matched-bids-table .row{
  background-color: rgb(246,247,248);
  border-radius:0.5rem;
  padding: 20px 0px;
  margin-bottom:10px;
}

#bids-table .row{
  background-color: rgb(246,247,248);
  border-radius:0.5rem;
  padding: 5px 0px;
  margin-bottom:10px;
}

.ui-gradient-red {
  background-color: black;
}

.ui-gradient-red,
.ui-gradient-red:hover{
  background: -moz-linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  background: linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  color: #FFF;
}

.ui-gradient-positive,
.ui-gradient-positive:hover {
  background: -moz-linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  background: linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  color: #FFF;
}

.ui-gradient-inprogress,
.ui-gradient-inprogress:hover {
  background: -moz-linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  background: linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  color: #FFF;

  .bid-info-content p{
    font-size:0.8rem;
  }
