form p {
  all: initial;
  * {
    all: unset;
  }
}

@media (min-width: 1200px){
  #form-container {
    max-width: 50%
  }
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  min-width: 700px;
}

nav > .container {
  max-width: 100%;
}

.navbar .ui-navigation.navbar-center {
  justify-content: right;
}

.footer-copyright .container {
  max-width: 100%;
}

h2 {
  padding-top: 2rem;
}

/**
MESSAGES
------------------------------------*
*/
.ui-gradient-message-selected,
.ui-gradient-message-selected:hover {
  background: -moz-linear-gradient(45deg, #8582FE 0%, #8582FE 100%);
  background: linear-gradient(45deg, #8582FE 0%, #8582FE 100%);
  color: #FFF;
}

.ui-gradient-messages {
  background: -moz-linear-gradient(45deg, #F6F7F8 0%, #F6F7F8 100%);
  background: linear-gradient(45deg, #F6F7F8 0%, #F6F7F8 100%);
  color: #485869;
}

.ui-gradient-messages:hover {
  background: -moz-linear-gradient(45deg, #d7d8ea 0%, #d7d8ea 100%);
  background: linear-gradient(45deg, #d7d8ea 0%, #d7d8ea 100%);
  color: #485869;
}

.ui-gradient-green,
.ui-gradient-green:hover {
  background: -moz-linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  background: linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  color: #FFF;
}

.ui-gradient-found,
.ui-gradient-found:hover {
  background: -moz-linear-gradient(45deg, #74B4FE 0%, #74B4FE 100%);
  background: linear-gradient(45deg, #74B4FE 0%, #74B4FE 100%);
  color: #FFF;
}

.ui-gradient-purp,
.ui-gradient-purp:hover {
  background: -moz-linear-gradient(45deg, #7C7CFB 0%, #7C7CFB 100%);
  background: linear-gradient(45deg, #7C7CFB 0%, #7C7CFB 100%);
  color: #FFF;
}

div#right-pane{
  height: 400px;
}

/**
* 1. Home Page
* ----------------------------------------------------------------------- *
*/

.ui-hero {
  height: 100vh;
  overflow: hidden;
}

.pb-4 {
  height: 100vh;
  overflow: hidden;
  padding: 10% 0 !important;
  /* box-sizing: border-box !important; */
}

.ui-hero .btn {
  margin-top: 0px;
}

.ui-hero.hero-lg {
}

.ui-hero p {
  margin-bottom: 3% !important;
  position: relative !important;
}

.ui-hero h2 {
  margin-bottom: 8% !important;
  position: relative !important;
}

@media (min-width: 1200px) {
  .ui-hero.hero-lg {
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
}

/**
* 2. Login
* ----------------------------------------------------------------------- *
*/
#Facebook-login {
  margin-bottom:20px;
}
#Line-login {
  margin-bottom:20px;
}

#login-container {
  max-width: 100%
}

@media (min-width: 1200px){
  #login-container {
    max-width: 50%;
  }
}


/**
* place order 
* ------------------------------------------------------
*/

input.num-hours {
  display: none;
}

.btn-group {
  width: 100%;
  margin-top: .5rem;
}

.btn-group label {
  margin: .2rem 0;
}

.btn-group .btn {
  margin-bottom: 0;
  margin: 0 0 0 0;
}

.form-group {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1em;
}

span.bold {
  font-weight: bold;
}

.upload-btn-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper button {
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.col-left {
  width: 50%;
}

.col-right {
  width: 50%;
  text-align: right;
}

/**
* 3. Order List
* ----------------------------------------------------------------------- *
*/
#orders-header {
  margin-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.orders {
  margin-bottom: 15px;
}

#orders-table .row{
  background-color: rgb(246,247,248);
  border-radius:0.5rem;
  padding:20px 0px;
  margin-bottom:10px;
}

.ui-gradient-negative,
.ui-gradient-negative:hover{
  background: -moz-linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  background: linear-gradient(45deg, #EF7888 0%, #EF7888 100%);
  color: #FFF;
}

.ui-gradient-positive,
.ui-gradient-positive:hover {
  background: -moz-linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  background: linear-gradient(45deg, #8CD379 0%, #8CD379 100%);
  color: #FFF;
}

.ui-gradient-inprogress,
.ui-gradient-inprogress:hover {
  background: -moz-linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  background: linear-gradient(45deg, #FEB66E 0%, #FEB66E 100%);
  color: #FFF;
}
/**
* 3. Order Details 
* ----------------------------------------------------------------------- *
*/
/* order details step view. */
#bid-info-table {
  width: 100%;
  margin-top: 1rem;
}

.bid-info-content {
  vertical-align: top;
  font-size: 1.2rem;
}

#order-headings p{
  margin-bottom:0.3rem;
}
#order-headings h1{
  margin-bottom:1rem;
}

hr {
  margin: 1.3rem 0;
}

.step-wrapper h4 {
  margin-bottom: 0;
}

span#time_countdown {
  margin-top: .7rem;
  display: inline-block;
}

#order-details div.row {
  display: block;
  width: 93%;
  padding: 2rem 0.2rem;
  margin-left: -1rem;
  font-size: 1rem;
  line-height: 1.4;
  color: #708198;
  background-color: #F2F4F6;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#payment-form .input {
  margin-top: .5rem;
}

#credit-card-payment .form-control {
  background-color: white;
}

#wire-payment .form-control {
  background-color: white;
}

#credit-card-payment .date {
  width: 49%;
  display: inline-block;
}

#credit-card-payment div.form-group,
#wire-payment div.form-group {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

#wire-payment button {
  margin-top: .3rem;
  background-color: #F2F4F6;
  border-style: solid;
  border-width: .1rem;
  border-color: #88B5E1;
}

#wire-payment button:hover {
  background-color: #111111;
}

/* for my order view */
.col-sm-13 {
  flex: 0 0 20%;
  max-width: 20%;
  margin-left:-1rem;
  text-align: center;
}

.col-sm-14 {
  flex: auto
  max-width: 50%;
  margin-left:-1rem;
  text-align: center;
}

.step-number.ui-gradient-grey,
.step-number.ui-gradient-grey::before {
  background: -moz-linear-gradient(45deg, #e0e0e0 0%, #f0f0f0 100%);
  background: linear-gradient(45deg, #e0e0e0 0%, #f0f0f0 100%);
}

/**
* 29. Steps
* ----------------------------------------------------------------------- *
*/

.ui-steps .step-wrapper span {
  display:block;
}

.ui-steps .col-auto h4 {
  font-weight: 600;
}

#confirm-button {
  display:inline-block;
}

#decline-button {
  display:inline-block;
}
.ui-steps .row {
  margin-left: -6rem;
  margin-right: -6rem;
}

.ui-steps div[class^="col-"],
.ui-steps div[class*=" col-"] {
  padding-left: 2rem;
  padding-right: 6rem;
}

.ui-steps div[class^="col-"]:nth-child(1),
.ui-steps div[class*=" col-"]:nth-child(1) {
  margin-bottom: 2rem;
}

@media (min-width: 740px) {
  .ui-steps div[class^="col-"]:nth-child(1),
  .ui-steps div[class*=" col-"]:nth-child(1) {
    margin-bottom: 0;
  }
}

@media (min-width: 740px) {
  .ui-steps {
    margin-top: 0;
  }

  #order-details div.row {
  margin-left: 4rem;
  }
}

.ui-steps .step-wrapper {
  position: relative;
  padding-left: 6rem;
  text-align: left;
  padding-top: 0;
  padding-bottom: 1rem;
}

@media (min-width: 740px) {
  .ui-steps .step-wrapper {
    padding-left: 0;
    padding-top: 0rem;
  }
  .ui-steps .step-wrapper:nth-child(1) {
    margin-top: -2rem;
  }
}

.ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
  content: ' ';
  position: absolute;
  left: 26px;
  margin-left: 0;
  width: 4px;
  border-radius: 4px;
  background-color: #c9d0d8;
}

@media (min-width: 740px) {
  .ui-steps .step-wrapper::before, .ui-steps .step-wrapper::after {
    left: 1.75%;
    margin-left: -2px;
  }


}

.ui-steps .step-wrapper::before {
  top: -1rem;
  bottom: calc(50% + (25px + 1rem));
  display: none;
}

@media (min-width: 740px) {
  .ui-steps .step-wrapper::before {
    display: block;
  }
}

.ui-steps .step-wrapper::after {
  top: calc(50px + 1rem);
  bottom: 1rem;
}

@media (min-width: 740px) {
  .ui-steps .step-wrapper::after {
    top: calc(50% + (25px + 1rem));
    bottom: -1rem;
  }
}

.ui-steps .step-wrapper:nth-child(1)::before {
  display: none;
}

.ui-steps .step-wrapper:nth-last-child(1)::after {
  display: none;
}

.ui-steps .step-wrapper .step-number {
  position: absolute;
  top: 10px;
  left: 1rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.ui-steps .step-wrapper .step-number::before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  opacity: 0.25;
  z-index: -1;
}

@media (min-width: 740px) {
  .ui-steps .step-wrapper .step-number {
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.8rem;
  }
  .ui-steps .step-wrapper .step-number::before {
    width: 60px;
    height: 60px;
    top: -10px;
    left: -10px;
  }
}

.ui-steps .step-wrapper .step-number,
.ui-steps .step-wrapper .step-number::before {
  border-radius: 100%;
}

.ui-steps .step-wrapper .step-number {
	left: 0%;
}

.ui-steps .row {
  padding-left: 6%;
}

