i {
    margin: 5px;
}
h3 {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.toggler {
    margin-left: auto;
}

#empty_form {
    display:none;
}

.info-container {
    padding: 10px;
    margin: 10px;
}

#id_merchandise_type {
    height:34px;
    line-height:34px;
}

select {
    font: inherit;
}

.show {
    display: block;
}

select {
    position:absolute;
    height:70%;
}

form p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
