.trending-image {
    height: 80%;
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    max-width: 100%;
    background-position: : 50%;
    object-fit: cover;
}

.slide {
    margin: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    border-radius: 5%;
    max-width: 100%;
    background-size: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.next, .prev {
    position: absolute;
    top: 50%;
    width: auto;
    color: #708197;
    outline: none;
    border: none;
    background-color: Transparent;
}

.next {
    right: 0;
}

.prev {
    left:0;
}
