.dot {
 height: 5px;
 width: 5px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
}

.dot-section {
  text-align:center;
}

.active {
 background-color: black;
}

.slides-container {
 display: inline-block;
 width: 100%;
 overflow: hidden;
 margin: 10px auto;
 background-color: white;
 border-radius: 10px;
 margin-bottom: 50px;
}

.trending-image {
 height: 200px;
 width: 200px;

}

.slide {
 margin: 10px;
 display: inline-block;
 border-radius: 1%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slideshow {
 width: 4500px;
}

.slide  {
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

/* below here are animation for slideshow 10s each round*/
#slide1 {
   -webkit-animation: bannermove 10s linear infinite;
      -moz-animation: bannermove 10s linear infinite;
       -ms-animation: bannermove 10s linear infinite;
        -o-animation: bannermove 10s linear infinite;
           animation: bannermove 10s linear infinite;
}

/* animation frames from position -1000px to -3230px */
@keyframes "bannermove" {
0% {margin-left: -1000px;}
100% {margin-left: -3230px;}
}

@-moz-keyframes bannermove {
 0% {margin-left: -1000px;}
 100% {margin-left: -3230px;}
}

@-webkit-keyframes "bannermove" {
 0% {margin-left: -1000px;}
 100% {margin-left: -3230px;}
}

@-ms-keyframes "bannermove" {
 0% {margin-left: -1000px;}
 100% {margin-left: -3230px;}
}

@-o-keyframes "bannermove" {
 0% {margin-left: -1000px;}
 100% {margin-left: -3230px;}
}
